<!DOCTYPE html>
<html>
    <head>
        <title>News - {{ single_news.link }}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div>
            <h2>{{ single_news.title }}</h2>
            <p>{{ single_news.created }}</p>
            <p>{{ single_news.text }}</p>
        </div>
        <a target="_blank" href="/news/">Main Page</a>
    </body>
</html>